.git
.github
.idea
.vscode
.DS_Store

**/node_modules
**/dist
**/target
!backend/canvas-boot/target
!backend/canvas-boot/target/*.jar
**/.vite
**/.turbo

*.log
*.pid
*.tmp
tmp/
logs/

.env
.env.*
!.env.example
docker-compose*.yml
